html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    /* overflow-y: hidden; */
    background-color: #222;
    font-size: 28px;
    display: flex;
    flex-direction: column;
}
#input-region {
    margin: 0px auto;
    width: 70%;
    padding-top: 50px;
    padding-bottom: 20px;
    text-align: center;
    position: relative;
    color: white;
}

#main-input {
    display: inline-block;
    margin: auto;
    border-radius: 12px;
    padding-left: 10px;
    font-size: 1.5rem;
    height: 2.0rem;
    cursor: text;
    width: 100%;
}

#suggestion-region {
    background-color: #111111;
    border-radius: 10px;
    visibility: hidden;
    position: absolute;
    top: calc(50px + 2.0rem + 1.8rem);
    left: 0;
    right: 0;
    margin: 5px auto 0px auto;
    display: block;
    opacity: 0.9;
    width: 70%;
    z-index: 2;
}

.show {
    visibility: visible !important;
}

#suggestion-list {
    font-size: 1.2rem;
    margin: 0px;
    overflow-y: scroll;
    padding: 5px 5px 9px 5px;
}

#suggestion-list .suggestion-item {
    height: 1.5rem;
    background-color: transparent;
    color: white;
    border: 0;
    text-align: left;
    width: 100%;
    padding: 5px 0px 5px 15px;
}

#suggestion-list .suggestion-item:hover {
    border-radius: 5px;
    color: rgb(249, 238, 28);
    background-color: #3d3737;
}

.optional-input input {
    text-align: center;
    background-color: transparent;
    border: none;
    color: inherit;
    margin: 0px;
}
.optional-input button {
    margin: 0px;
    text-align: center;
    background-color: transparent;
    border-radius: 5px;
    border: 1px grey solid;
    color: inherit;
}
.optional-input button:hover {
    cursor: pointer;
    background-color: #444;
}

.grow-region { flex-grow: 1; }
#data-region {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: white;
}
.middle {
    margin-left: auto !important;
    margin-right: auto !important;
}
#keyword { margin: 0px; padding: 0px; }

#group-region {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
    gap: 5px;
}

.group-container {
    width: fit-content;
    background-color: #333;
    display: block; 
    font-size: 0px;
    position: relative;
    padding: 5px;
    color: white;
}
.group-container .group {
    -moz-appearance: none; /* Firefox */
    -webkit-appearance: none; /* Safari and Chrome */
    appearance: none;
    color: white;
    border: none;
    display: inline-block;
    position: relative;
    font-size: 0.75rem;
    width: 6em;
    text-align: center;
    background-color: inherit;
    margin-right: 0px;
    z-index: 2;
}
.group-container .group option {
    background-color: inherit;
}
.group-container input {
    font-size: 0.75rem;
    width: 4em;
    background-color: inherit;
    border: 1px white solid;
    color: inherit;
    padding-left: 5px;
}
.group-container button {
    text-align: center;
    display: inline-block;
    margin-left: 0px;
    background-color: transparent;
    color: white;
    border: none;
    box-shadow: none;
    padding: none;
    width: 1.3em;
    text-align: center;
}
.group-container button:hover {
    background-color: #222;
    cursor: pointer;
}

#group-header {
    padding: 0px 0px 0px 10px;
}

.list-items {
    list-style-type: square;
    margin: 0px;
}
.list-items li { cursor: pointer; }
.list-items li.selected {
    color: red;
    background-color: #333;
    width: fit-content;
    min-width: 5em;
}
.list-region button {
    margin: 0px;
    text-align: center;
    background-color: transparent;
    border-radius: 5px;
    border: 1px grey solid;
    color: inherit;
    margin-left: 2em;
}
.list-region button:hover {
    cursor: pointer;
    background-color: #444;
}
#data-region .list-region {
    color: white;
    padding: 0px 0px 0px 10px;
}
.header { color: #888; }


h3    { margin: 0px; }
.hide { display: none !important; }
input { font-size: inherit; }
@media screen and (min-width: 1500px) {
    html, body {
        font-size: 35px;
    }
    #group-region {
        grid-template-columns: repeat(8, 1fr) !important;
    }
}
