html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    /* overflow-y: hidden; */
    background-color: #222;
    font-size: 25px;
    display: flex;
    flex-direction: column;
}
#input-region {
    margin: 0px auto;
    width: 70%;
    padding-top: 50px;
    padding-bottom: 20px;
    text-align: center;
    position: relative;
    color: white;
}
.list-item-region {
    width: 100%;
    flex-grow: 1;
    display: flex;
    color: white;
    font-size: 1.25rem;
    flex-basis: 1.5rem;
    justify-content: space-between;
}
.list-item-region .item .select-button {
    border: 0px solid black;
    font-size: 1.2rem;
}
.list-item-region .right {
    padding-right: 20px;
}
.list-item-region .item {
    padding-left: 60px;
    list-style-type: disc;
}
button {
    display: inline;
    border-radius: 10px;
    background-color: #333;
    color: white;
    border: 1px solid black;
    margin: 2px;
    margin-left: 10px;
    padding: 5px;
}
#remove-button {
    margin-top: 10px;
    font-size: 1.5rem;
}
button:hover {
    background-color: #444;
    color: white;
}

@media screen and (min-width: 1550) {
    html, body {
        font-size: 30px;
    }
}

